<h1>About Me</h1>
<p>
  Hi! I'm <strong>{{ site.author.name }}</strong>, an IT professional with 4+ years of experience in Database Development, DevOps, and System Reliability Engineering. I specialize in SQL Server optimization, CI/CD automation using GitLab and PowerShell, and real-time monitoring with tools like SQL Sentry and Splunk. Backed by a Master's in Business Analytics from the University of Maryland, I bring a strong data-driven mindset grounded in predictive modeling, machine learning, and applied automation.
</p>

{% if page.url == '/' %}
  <p class="text-center">
    {% include elements/button.html link="/about" text="Know More" %}
  </p>
{% endif %}

{% if page.url == '/about/' %}
<h1>Tech Stack</h1>
<div class="row">
    {% include about/skills.html title="" source=site.data.programming-skills %}
    {% include about/skills.html title="" source=site.data.ai-ml-skills %}
</div>
{% endif %}

<div class="tech-section">
    <div class="tech-category">
        <h2>Programming Languages</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="Python">
                <span class="tech-name">Python</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="Java">
                <span class="tech-name">Java</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="C++">
                <span class="tech-name">C++</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="JavaScript">
                <span class="tech-name">JavaScript</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="HTML">
                <span class="tech-name">HTML</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="CSS">
                <span class="tech-name">CSS</span>
            </div>
        </div>
        <p class="tech-description">Core languages for software development and automation.</p>
    </div>

    <div class="tech-category">
        <h2>DevOps & Automation</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/gitlab/gitlab-original.svg" alt="GitLab">
                <span class="tech-name">GitLab CI/CD</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/powershell/powershell-original.svg" alt="PowerShell">
                <span class="tech-name">PowerShell</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bash/bash-original.svg" alt="Bash">
                <span class="tech-name">Bash</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" alt="Git">
                <span class="tech-name">Git</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/maven/maven-original.svg" alt="Maven">
                <span class="tech-name">Maven</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg" alt="Docker">
                <span class="tech-name">Docker</span>
            </div>
        </div>
        <p class="tech-description">Tools for continuous integration, deployment, and automation.</p>
    </div>

    <div class="tech-category">
        <h2>Database Technologies</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" alt="SQL Server">
                <span class="tech-name">SQL Server</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" alt="MySQL">
                <span class="tech-name">MySQL</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original.svg" alt="PostgreSQL">
                <span class="tech-name">PostgreSQL</span>
            </div>
        </div>
        <p class="tech-description">Database management and optimization tools.</p>
    </div>

    <div class="tech-category">
        <h2>Monitoring & Infrastructure</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/splunk/splunk-original.svg" alt="Splunk">
                <span class="tech-name">Splunk</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/solarwinds/solarwinds-original.svg" alt="SolarWinds">
                <span class="tech-name">SolarWinds</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rubrik/rubrik-original.svg" alt="Rubrik">
                <span class="tech-name">Rubrik</span>
            </div>
        </div>
        <p class="tech-description">Tools for system monitoring and infrastructure management.</p>
    </div>

    <div class="tech-category">
        <h2>Data Science & Machine Learning</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/pandas/pandas-original.svg" alt="Pandas">
                <span class="tech-name">Pandas</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/numpy/numpy-original.svg" alt="NumPy">
                <span class="tech-name">NumPy</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/scikitlearn/scikitlearn-original.svg" alt="Scikit-learn">
                <span class="tech-name">Scikit-learn</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tensorflow/tensorflow-original.svg" alt="TensorFlow">
                <span class="tech-name">TensorFlow</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/pytorch/pytorch-original.svg" alt="PyTorch">
                <span class="tech-name">PyTorch</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/seaborn/seaborn-original.svg" alt="Seaborn">
                <span class="tech-name">Seaborn</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/opencv/opencv-original.svg" alt="OpenCV">
                <span class="tech-name">OpenCV</span>
            </div>
        </div>
        <p class="tech-description">Libraries for data analysis, machine learning, and computer vision.</p>
    </div>

    <div class="tech-category">
        <h2>Visualization & BI Tools</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tableau/tableau-original.svg" alt="Tableau">
                <span class="tech-name">Tableau</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/powerbi/powerbi-original.svg" alt="Power BI">
                <span class="tech-name">Power BI</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/matplotlib/matplotlib-original.svg" alt="Matplotlib">
                <span class="tech-name">Matplotlib</span>
            </div>
        </div>
        <p class="tech-description">Tools for data visualization and business intelligence.</p>
    </div>
</div>

{% if page.url == '/about/' %}
<h1>Timeline</h1> 
<div class="row">
{% include about/timeline.html %}
</div>
{% endif %}