<div id="featured-projects">
    <div class="m-3 wow animated slideInUp" data-wow-delay="0.15s">
      <br /><br /><br />
      <h2>Featured Projects</h2>
    </div>
    <div class="card-columns m-3 mt-4">
      {% for project in site.projects %}
        {% assign project_type = "local" %}
        {% assign project_id = project.name | slugify %}
        {% assign project_name = project.title %}
        {% assign project_desc = project.content | strip_html | truncate: 150 %}
        {% assign project_tools = project.tags %}
        {% assign project_url = project.url | relative_url %}
        {% include projects/project-card.html %}
      {% endfor %}
    </div>
    <p class="text-center">
      {% include elements/button.html link="/projects" text="View all" %}
    </p>
  </div>